.root {
    -fx-font-size: 14px;
    -fx-text-fill: #303030;
    -fx-background-color: #fafafa;
}

.intestazione {
    -fx-background-color: #00BCD4;
}

.intestazione .label {
    -fx-font-size: 28px;
    -fx-text-fill: white;
}

/* UTENTI */

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.lista-utenti {
    -fx-background-color: #0097A7;
}

.bottoneutente {
    -fx-skin: "";
    -fx-label-padding: 0px 0px 0px 40px;
    -fx-background-image: url(../icons/user.png);
    -fx-background-position: left center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40px 40px;
    -fx-cursor: hand;
    -fx-text-fill: #FAFAFA;
}

.bottoneutente:selected {
    -fx-background-image: url(../icons/user-alt.png);
    -fx-background-color: #FAFAFA;
    -fx-text-fill: #303030;
}

.radio-button .dot,
.radio-button .radio {
   -fx-background-color: transparent;
   -fx-background-insets: 0;
   -fx-background-radius: 0px;
   -fx-padding: 0px;
}

/* STATISTICHE */
.pannello-statistica {
    -fx-background-position: 20px 16px;
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-padding: 16px 0px 16px 66px;
}

#pannello-glucosio-basso {
    -fx-background-image: url(../icons/siren.png);
    -fx-background-position: 80px 16px;
    -fx-padding: 16px 22px 16px 126px;
}

#pannello-grafico {
    -fx-padding: 26px 16px 10px 16px;
}

.chart-legend {
   -fx-background-color:  transparent;
}

.titolo-grafico {
    -fx-font-weight: 700;
    -fx-font-size: 18px;
    -fx-padding: 0px 0px 0px 20px;
}

#pannello-glucosio {
    -fx-background-image: url(../icons/monitor.png);
}

#pannello-glucosio .titolo .valore {
    -fx-font-weight: 700;
    -fx-font-size: 30px;
}

.grassetto {
    -fx-font-weight: 700;
}

.grassetto .valore {
    -fx-font-size: 24px;
}

#pannello-insulina {
    -fx-background-image: url(../icons/syringe.png);
}

.elemento {
    -fx-padding: 0px 0px 0px 0px;
}

.rapida,
.lenta {
    -fx-background-size: 28px 28px;
    -fx-background-position: 4px center;
    -fx-background-repeat: no-repeat;
}

.rapida {
    -fx-background-image: url(../icons/speed.png);
}

.lenta {
    -fx-background-image: url(../icons/clock.png);
}

.pannello-statistica .titolo {
    -fx-font-size: 17px;
    -fx-font-weight: 700;
}

.pannello-statistica .unita {
    -fx-padding: 0px 0px 0px 10px;
    -fx-text-fill: gray;
    -fx-font-weight: 400;
    -fx-font-size: 13.5px;
}

.elemento .riga {
    -fx-border-color: transparent transparent #B0B0B0 transparent;
    -fx-border-width: 0px 0px 2px 0px;
}

.pannello-statistica .titolo .riga {
    -fx-border-color: transparent transparent #040404 transparent;
    -fx-border-width: 0px 0px 2px 0px;
}

#pannello-comandi,
#errore {
     -fx-alignment: center;
}

/* BOTTONI */
.bottonequadrato {
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-position: center center;
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
}

#leggi-file {
    -fx-background-image: url(../icons/addfile.png);
}

#sett-avanti {
    -fx-background-image: url(../icons/right.png);
}

#sett-indietro {
    -fx-background-image: url(../icons/left.png);
}

/* grafico */

.default-color0.chart-series-line { -fx-stroke: #607D8B; }
.default-color0.chart-line-symbol { -fx-background-color: #fafafa, #fafafa; }